body {
  background-color: rgb(5, 91, 131);
  color: rgb(117, 207, 14);
  margin: 0;
  font-family: 'Gemunu Libre', sans-serif;
}
.container {
  padding: 40px;
  margin: 0 auto;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}
#pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}
.card {
  list-style: none;
  padding: 40px;
  background-color: #13dddd;
  color: rgb(235, 10, 10);
  text-align: center;
}
.card:hover {
  box-shadow: 5px 5px 5px 5px rgba(68, 41, 16, 0.788)
}
.card-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 30px;
}
.card-subtitle {
  margin-top: 15px;
  color: rgb(29, 19, 163);
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}